.botones{
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.boton{
    width: 100px;
    height: 30px;
    border: 1px solid black;
}


.carrusel{
    display: flex;
    flex-direction: row;
}

.caja{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.activar{
    background: brown;
}